body {
    background-color: snow;
}

.nav-link {
    color: chartreuse !important;
}

#logo {
    color: limegreen;
}

#username {
    color: lightcyan;
    font-size: 15px;
    font-weight: bold;
    font-family: lucida console
}